// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
    counter-reset: section;
}

span.input-group-prepend {
    position: relative;
    width: 5em;
}

span.input-group-prepend:before {
    position: absolute;
    counter-increment: section;
    top: 0;
    left: 0;
    content: "Bile " counter(section);
}

form .input-group:nth-of-type(1) span.input-group-prepend,
form .input-group:nth-of-type(1) .form-control {
    color: #be0f0f;
}

form .input-group:nth-of-type(2) span.input-group-prepend,
form .input-group:nth-of-type(2) .form-control {
    color: #cbc227;
}

form .input-group:nth-of-type(3) span.input-group-prepend,
form .input-group:nth-of-type(3) .form-control {
    color: #0f5ebe;
}

form .input-group:nth-of-type(4) span.input-group-prepend,
form .input-group:nth-of-type(4) .form-control {
    color: #61be0f;
}

form .input-group:nth-of-type(5) span.input-group-prepend,
form .input-group:nth-of-type(5) .form-control {
    color: #810fbe;
}

form .input-group:nth-of-type(6) span.input-group-prepend,
form .input-group:nth-of-type(6) .form-control {
    color: #020202;
}

form .input-group:nth-of-type(7) span.input-group-prepend,
form .input-group:nth-of-type(7) .form-control {
    color: #be5b0f;
}

form .input-group:nth-of-type(8) span.input-group-prepend,
form .input-group:nth-of-type(8) .form-control {
    color: #0fbea4;
}

form .input-group:nth-of-type(9) span.input-group-prepend,
form .input-group:nth-of-type(9) .form-control {
    color: #be0f7e;
}

form .input-group:nth-of-type(10) span.input-group-prepend,
form .input-group:nth-of-type(10) .form-control {
    color: #868686;
}
